{{ template "header" . }}

{{ .Title }}

<h1>
    Welcome to Tattooed Trees!
</h1>
<h2>
    Your online virtual bookshelf manager!
</h2>
<p>
    Click below to sign up or log in to use our services.
</p>
{{ template "footer" . }}

